@import 'src/styles/abstracts/vars';
@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/functions';

.about__card {
  box-sizing: border-box;

  @include mq-mobile {
    max-width: 350px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 10px;
    padding-left: 15px;
  }

  @include mq-desktop {
    width: 250px;
    padding: 10px;
  }
}

.about__card .card__image {
  @include mq-mobile {
    max-width: 120px;
    max-height: 120px;
  }

  @include mq-desktop {
    object-fit: contain !important;
    padding: 15px 0 !important;
  }
}

.about__card .card__wrapper {
  @include mq-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
  }

  @include mq-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__card .card__content {
  @include mq-mobile {
    padding: 10px !important;
  }

  @include mq-desktop {
    padding: 0 !important;
  }
}

.about__card .content__title {
  @include mq-mobile {
    font-size: rem(20) !important;
    margin: 0 !important;
  }

  @include mq-desktop {
    font-size: rem(22) !important;
    font-weight: bold !important;
  }
}

.about__card .content__role p {
  @include mq-mobile {
    font-size: rem(16);
    margin: 0;
  }

  @include mq-desktop {
    font-size: rem(18);
  }
}

.about__card .card__icons {
  @include mq-mobile {
    padding: 0 !important;
  }

  @include mq-desktop {
    
  }
}
