@import 'src/styles/abstracts/vars';
@import 'src/styles/abstracts/mixins';
@import 'src/styles/abstracts/functions';

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.app__main {
  flex-grow: 1;
  background-color: $grey;
  display: flex;
  flex-direction: column;
}
